* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-red: rgba(247, 64, 94, 1);
    --color-blue: rgba(165, 223, 247, 1);
    --color-blue-hover: rgba(0, 118, 204, 1);
    --color-background-tokyo: rgba(218, 243, 166, 1);
    --color-brown: rgba(52, 29, 26, 1);
    --color-white: rgba(254, 254, 255, 1);
}
